:root {
    --black:rgb(0, 0, 0);
    --primary-orange: #f67d14;
    --primary-blue: #1d2b4f;
    --lightblue-background: rgba(135, 190, 215, 0.2);
    --white: #ffff  ;
    --gray: #D9D9D9;
    --page:rgba(181, 181, 181, 0.211) ;
    --lightblue-text: #8bc8e4;
    --backgroud-grey: #F5F5F5;
}

@font-face {
    src: url(../font/HankenGrotesk.ttf);
    font-style: normal;
    font-family: HansenGrotesk;
}

* {
    font-family: HansenGrotesk;
    font-weight: 400;
}

h1, p{
    line-height: 1.5;
}

[class*="cta"],h1,h2 {
    text-align: center;
}

.orange {
    color: var(--primary-orange);
}

.bolder {
    font-weight: 700;
}

figure{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroud-grey);
    height: 60px;
    padding: 0 5px;
}

.navbar__item {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--black);
    font-size: 0.7em;
    margin: 0 5px;
    
}

.navbar__item-link{
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
}

.navbar__item-first::before {
    content: url(../images/icons/telefon.svg);
    margin-right: 7px;
}

.navbar__item-second::before {
    content: url(../images/icons/email.svg);
    margin-right: 7px;
}

.navbar__item-third::before {
    content: url(../images/icons/uzivatel.svg);
    margin-right: 7px;
}

.mainmenu__list li a:hover{
        border-bottom: 3px solid var(--primary-orange);
        padding-bottom: 5px;
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: var(--primary-orange);
    color: var(--white);
    padding: 1em;
    width: 90%;
    border-radius: 30px;
    font-weight: 500;
}

.main_header {
    position: relative;
    padding: 2em 2em;
}

.mainmenu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
}

.mainmenu__list {
    display: none;
    position: absolute;
    list-style-type: none;
    text-align: center;
    background-color: var(--primary-orange);
    font-weight: 700;
    margin: 0;
    top: 3em;
    left: -1em;
    right: -1em;
    padding: 1.5em 0;
    border-radius: 2em;    
    z-index: 100;
}

.mainmenu__list.active {
    display: block;
}

.mainmenu__list li a {
    text-decoration: none;
    color: var(--white);
}

.caption__list {
    margin: 2em 0;
    padding: 20px;
}

.caption__list li {
    padding-left: 5px;
    padding-bottom: 3px;
}

.caption__list li::marker {
    content: url(../images/icons/mark.svg);
}

.caption h1 {
    padding: 1em 0;
}

.caption__img {
    display: none;
}

.header__caption {
    margin: 0;
}
.trial__cta {
    margin-bottom: 3em;
}

hr{
    display: none;
}

.sponsor_logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor_logos img {
    margin: 0.5em 1em;
}

.vyhody {
    position: relative;
    background-color: var(--lightblue-background);
    padding-top: 1em;
    padding: 3em;
}

.section__heading{
    color: var(--primary-blue);
    font-weight: 700;
    font-size: 2em;
    padding-bottom: 1.5em;
}

.section__heading::after{
    display: block;
    content: "";
    background-color: var(--primary-orange);
    width: 100%;
    height: 3px;
    margin: 10px auto;
}

.vyhody__items {
    display: flex;
    justify-content: center;
}

.vyhody__obsah{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;
}

.obsah_item{
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 1.5em;
    gap: 10px;
}

 .obsah_item > p {
    text-align: center;
    width: 200px;
    font-size: 1em;
    margin: 0;
}

.vyhody_card{
    display: none;
    background-color: var(--white);
    box-shadow: 2px 5px #1e273f1a;
    padding: 2em;
    max-width: 300px;
}

 .vyhody_card__heading{
    color: var(--primary-blue);
    font-size: 1.3rem;
    font-weight: 700;
}

.visible{
    display: block;
}

.pribeh{
    padding: 3em;
    padding-top: 1em;
}

.pribeh_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pribeh_info__heading{
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
}

.pribeh_info__text {
    overflow: hidden;
    height: 200px;
}

.pribeh_info__obsah{
    max-width: 300px;
}

.pribeh__img {
    display: none;
}

.pribeh__cta .button, .ONas__cta .button{
    width: 55%;
    text-align: center;
}

.ONas{
    padding: 2em;
}

.ONas_items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ONas_card{
    display: flex;
    align-items: center;
    height: 150px;
    padding-top: 1em;
    max-width: 400px;
}

.ONas_card__caption p{
    overflow: hidden;
    margin: 0;
    font-size: 0.5em;
}

.ONas_card__caption p:first-of-type{
    height: 80px;
}

.ONas_card__caption p:nth-of-type(2){
    padding: 1em 0;
    font-weight: 700;
    font-size: 0.8em;
}

.ONas_card img{
    width: 130px;
    padding-right:1em;
}

.ONas__cta{
    margin-top: 7em;
}

.aktuality{
    background-color: var(--backgroud-grey);
    padding: 3em;
}

.aktuality__button .button{
    text-align: left;
    background-color:rgba(240, 255, 249, 0);
    color: var(--primary-orange);
    padding: 0;
    font-weight: 700;
    font-size: 1em;
}

.aktuality_card__heading{
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 700;
}

.aktuality_card{
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 1em;
    margin-top: 2em;
}

.aktuality_card:first-of-type::before {
    position: absolute;
    content: url(../images/icons/Iconka21.svg);
    right: 100%;
}

.aktuality_card:nth-of-type(2)::before {
    position: absolute;
    content: url(../images/icons/Iconka8.svg);
    right: 100%;
}

.podpora__email{
    font-weight: 700;
    font-size: 1.2em;
    margin: 1.5em 0;
    text-decoration: underline;
}

.podpora_email__cta .button{
    padding: 10px 10px;
    width: 200px;
}

.podpora_call__cta .button{
    background-color: var(--white);
    color: var(--primary-blue);
    border: 4px solid var(--primary-orange);
    padding: 5px 5px;
    width: 150px;
}

.kontakt_main_header {
    padding-bottom: 0;
}

.kontakt_obsah {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
    padding: 0 2em;
    gap: 4em;
}

.kontakt_texty__heading {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 0;
}

.kontakt_texty__heading > p > a{
    text-decoration: none;
}

.funkce_header__subheading{
    text-align: left;
    font-size: 1.2em;
}

.funkce_obsah__karticka{
    display: grid;
    justify-content: center;
    background-color:var(--page);
    padding: 20px 0px 40px 0px;
    grid-template-columns:300px;
}

.mapa__fotka {
    width: 100%;
    min-width: 300px;
}

.footer_informace * {
    color: var(--lightblue-text)    
}

.footer_informace {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--primary-blue);
    padding: 2em 2em;
    gap: 3em;
}

.footer_informace p {
    margin: 0.7em 0;
}

.footer_informace__obsah img {
    margin-right: 10px;
}

.footer_konec {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-blue);
    border-top: 4px solid #456575;
    padding-top: 4em; 
    padding-bottom: 3em;
}

.footer_konec p {
    color: var(--lightblue-text);
    margin: 0;
}

.header--heading {
    text-align: left;
    font-weight: 700;
    margin-bottom: 0;
}

.stranka_info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stranka_info__icon {
    display: flex;
    align-items: center;
}

.stranka_info--house::before {
    content: url(../images/icons/baracek.svg);
    margin-right: 10px;
}

.stranka_info--dot::before {
    content: url(../images/icons/tecka.svg);
    margin-bottom: 5px;
    margin-right: 7px;
}

.funkce_obsah{ 
    padding: 0;
}

.funkce_header{
    position: relative;
}

.obsah__heading {
    font-weight: 700;
    font-size: 1.8em;
    margin-top: 0 !important;
}

.obsah__cta{
    position: absolute;
    max-width: 70px;
    right: 0;
    top: 0;
}

.obsah__cta > p{
    font-size: 0.8em;
}

.karticka_item{
    display: none;
    position: relative;
    background-color: var(--white);
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.169);
    padding: 10px 10px;
    max-width: 300px;
    height: 200px;
    border-radius: 10px;
}

.funkce_obsah__podpora{
    text-align: center;
    margin-bottom: 2em;
}

.karticka_item-visible{
    display: block;
}

.karticka_item__heading{
    color: var(--primary-orange);
    font-size: 1.2em;
    margin: 1.5em 0;
}

.karticka_item__heading, .karticka_item__text{
    text-align: left;
    padding: 0 20px;
}

.karticka_item:hover{
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.karticka_item:hover .karticka_item__heading {
    color: var(--black);
}

.karticka_item:hover::before{
    content: url(../images/icons/Sipka.svg);
    position: absolute;
    bottom: -25px;
    left: 25px;
}

.podpora__heading{
    font-weight: 700;
    font-size: 1.2em;
    margin: 3em 0;
}

@media (min-width: 1360px) {
    .navbar {
        padding: 0 5em;
    }

    .mainmenu__list {
        display: flex;
        align-items: center;
        left: auto; 
        background-color: var(--white);
        padding: 0;
        top: 0;
        height: 41px;
        right: 0;
        gap: 20px;
    } 

    .main_header, .vyhody {
        padding: 5em 11em;
        padding-top: 2em;   
    }

    .mainmenu__list.active {
        display: flex;
    }

    .mainmenu__list li a {
        color: var(--black);
    }

    .hamburger-menu {
        display: none;
    }

    hr.page1,hr.page2 ,hr.page3{
        display: block;
    }

    hr{
        display: block;
    }

    hr.line01{
        position: absolute;
        border: 1px solid var(--page);
        left: 0;
        right: 0;
        bottom: 20%;
    }

    hr.line02{
        border: 1px dotted rgba(47, 54, 128, 0.52);
        width: 40%;
        margin-bottom: 4em;
    }

    hr.line03{
        position: absolute;
        border: 1px solid var(--page);
        left: 0;
        right: 0;
    }

    .navbar-active a {
        border-bottom: 3px solid var(--primary-orange);
        padding-bottom: 5px;
    }

    .caption {
        width: 40%;
    }

    .caption h1 {
        text-align: left;
    }

    .caption__img {
        display: block;
        width: 500px;
        height: 400px;
        border-radius: 1.5em;
        content: url(../images/Fotky/pslibškola.jpg);
    }

    .trial__cta {
        text-align: left;
    }

    .trial__cta .button {
        width: 40%;
    }

    .obsah__cta{
        top: 70%;
    }

    .header__caption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7em 0;
    }

    .obsah_item {
        flex-direction: column;
        justify-content: space-between;
    }

    .vyhody__obsah {
        justify-content: space-between;
        margin-top: 4em;
        margin-bottom: 3em;
    }

    .vyhody_card{
        display: block;
    }

    .vyhody__items {
        display: flex;
        gap: 50px;
    }

    .vyhody__cta {
        margin-top: 4em;
    }

    .vyhody__cta .button {
        width: 20%;
    }

    .arrow--down::after {
        display: inline-block;
        content: url(../images/icons/Sipka-dolu.svg);
        padding-left: 6px;
    }

    .section__heading::after {
        display: none;
    }

    .pribeh_info__heading{
        text-align: left;
        font-size: 1.5em;
    }

    .pribeh_info__obsah{
        max-width: 450px;
    }

    .pribeh_info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5em;
    }

    .trial--button::before {
        display: inline-block;
        content: "";
        background-color: var(--gray);
        width: 3px;
        height: 15px;
        margin-right: 20px;;
    }

    .trial--button a {
        display: inline-block;
        text-align: center;
        background-color: var(--primary-orange);
        color: var(--white) !important;
        padding: 0.5em 1em;
        border-radius: 1.5em;
        font-weight: 700;
    }

    .pribeh__img {
        display: block;
        width: 400px;
        height: 300px;
        content: url(../images/Fotky/pat\ a\ mat.jpg);
    }

    .pribeh__cta {
        text-align: left;
    }

    .aktuality {
        padding: 3em 10em;
    }

    .aktuality__items {
        display: flex;
        justify-content: center;
        gap: 10em;
    }

    .aktuality__card {
        width: 40%;
    }

    .ONas {
        margin-top: 3em;
    }

    .ONas_card {
        padding-right: 2em;
    }

    .ONas__cta .button {
        width: 20%;
    }

    .footer_informace {
        justify-content: space-between;
        padding: 3em 7em;
    }

    .funkce_obsah{
        padding: 3em 9em;
    }

    .funkce_obsah__karticka{
        justify-content: center;
        align-content: center;
        grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
        gap:3em;
        margin: 0 2em;
        padding: 5em 3em;
        border-radius: 15px;
    }

    .content__cta{
        top: 70%;
    }

    .funkce_header__subheading{
        font-size: 2em;
        margin-bottom: 2em;
    }

    .footer_konec {
        padding: 4em 7em;
    }

    .karticka_item{
        display: block;
    }

    .header--heading{
        font-size: 2.5em;
    }

    .funkce_header__text {
        width: 70%;
    }

    .kontakt_obsah {
        justify-content: space-between;
        flex-direction: row;
        padding: 0 7em;
        padding-bottom: 4em;
        gap: 8em;
    }
    
    .kontakt_texty__item p {
        margin-bottom: 0;
    }
}    
